<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Navigation Feature Settings -->
      <setting name="BMC.Feature.Navigation.MaxMenuDepth" value="3" />
      <setting name="BMC.Feature.Navigation.EnableCache" value="false" />
      <setting name="BMC.Feature.Navigation.CacheExpiration" value="02:00:00" />
      <setting name="BMC.Feature.Navigation.ShowHiddenItems" value="false" />
      <setting name="BMC.Feature.Navigation.IncludeHomeBreadcrumb" value="true" />
      <setting name="BMC.Feature.Navigation.BreadcrumbSeparator" value="/" />
    </settings>

    <log4net>
      <logger name="BMC.Feature.Navigation" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>