<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Navigation Feature Settings -->
      <setting name="BMC.Feature.Navigation.MaxMenuDepth" value="3" />
      <setting name="BMC.Feature.Navigation.EnableCache" value="true" />
      <setting name="BMC.Feature.Navigation.CacheExpiration" value="02:00:00" />
      <setting name="BMC.Feature.Navigation.ShowHiddenItems" value="false" />
      <setting name="BMC.Feature.Navigation.IncludeHomeBreadcrumb" value="true" />
      <setting name="BMC.Feature.Navigation.BreadcrumbSeparator" value="/" />
    </settings>

    <caches>
      <!-- Navigation Cache -->
      <cache name="BMC.Navigation.Cache" maxSize="5MB" />
      <cache name="BMC.Navigation.Breadcrumb.Cache" maxSize="2MB" />
    </caches>

    <pipelines>
      <mvc.renderRendering>
        <processor type="BMC.Feature.Navigation.Pipelines.CacheNavigationRendering, BMC.Feature.Navigation"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" />
      </pipelines>

      <httpRequestBegin>
        <processor type="BMC.Feature.Navigation.Pipelines.ResolveNavigationContext, BMC.Feature.Navigation"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>

    <events>
      <event name="item:saved">
        <handler type="BMC.Feature.Navigation.Events.InvalidateNavigationCache, BMC.Feature.Navigation" method="OnItemSaved" />
      </event>
      <event name="item:deleted">
        <handler type="BMC.Feature.Navigation.Events.InvalidateNavigationCache, BMC.Feature.Navigation" method="OnItemDeleted" />
      </event>
      <event name="item:moved">
        <handler type="BMC.Feature.Navigation.Events.InvalidateNavigationCache, BMC.Feature.Navigation" method="OnItemMoved" />
      </event>
    </events>

    <services>
      <configurator type="BMC.Feature.Navigation.DependencyInjection.ServicesConfigurator, BMC.Feature.Navigation" />
    </services>

    <log4net>
      <logger name="BMC.Feature.Navigation" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>