<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Hero Feature Settings -->
      <setting name="BMC.Feature.Hero.DefaultTransitionDuration" value="5000" />
      <setting name="BMC.Feature.Hero.TransitionEffect" value="fade" />
      <setting name="BMC.Feature.Hero.EnableAutoplay" value="true" />
      <setting name="BMC.Feature.Hero.PauseOnHover" value="true" />
      <setting name="BMC.Feature.Hero.MaxSlides" value="5" />
      <setting name="BMC.Feature.Hero.EnableControls" value="true" />
      <setting name="BMC.Feature.Hero.EnableIndicators" value="true" />
      <setting name="BMC.Feature.Hero.EnableCache" value="true" />
      <setting name="BMC.Feature.Hero.CacheExpiration" value="01:00:00" />
    </settings>

    <caches>
      <!-- Hero Slider Cache -->
      <cache name="BMC.Hero.Cache" maxSize="5MB" />
    </caches>

    <pipelines>
      <mvc.renderRendering>
        <processor type="BMC.Feature.Hero.Pipelines.CacheHeroRendering, BMC.Feature.Hero"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" />
      </mvc.renderRendering>
    </pipelines>

    <events>
      <event name="item:saved">
        <handler type="BMC.Feature.Hero.Events.InvalidateHeroCache, BMC.Feature.Hero" method="OnItemSaved" />
      </event>
      <event name="item:deleted">
        <handler type="BMC.Feature.Hero.Events.InvalidateHeroCache, BMC.Feature.Hero" method="OnItemDeleted" />
      </event>
    </events>

    <services>
      <configurator type="BMC.Feature.Hero.DependencyInjection.ServicesConfigurator, BMC.Feature.Hero" />
    </services>

    <log4net>
      <logger name="BMC.Feature.Hero" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>