<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Hero Feature Settings -->
      <setting name="BMC.Feature.Hero.DefaultTransitionDuration" value="5000" />
      <setting name="BMC.Feature.Hero.TransitionEffect" value="fade" />
      <setting name="BMC.Feature.Hero.EnableAutoplay" value="true" />
      <setting name="BMC.Feature.Hero.PauseOnHover" value="true" />
      <setting name="BMC.Feature.Hero.MaxSlides" value="5" />
      <setting name="BMC.Feature.Hero.EnableControls" value="true" />
      <setting name="BMC.Feature.Hero.EnableIndicators" value="true" />
      <setting name="BMC.Feature.Hero.EnableCache" value="false" />
      <setting name="BMC.Feature.Hero.CacheExpiration" value="01:00:00" />
    </settings>

    <log4net>
      <logger name="BMC.Feature.Hero" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>