<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Comments Feature Settings -->
      <setting name="BMC.Feature.Comments.StoragePath" value="/sitecore/content/BMC/BmcBlog" />
      <setting name="BMC.Feature.Comments.EnableModeration" value="true" />
      <setting name="BMC.Feature.Comments.AutoApproveRegisteredUsers" value="false" />
      <setting name="BMC.Feature.Comments.RequireAuthentication" value="true" />
      <setting name="BMC.Feature.Comments.MaxCommentLength" value="1000" />
      <setting name="BMC.Feature.Comments.AllowNestedComments" value="true" />
      <setting name="BMC.Feature.Comments.MaxNestingLevel" value="3" />
      <setting name="BMC.Feature.Comments.EnableEmailNotifications" value="false" />
      <setting name="BMC.Feature.Comments.NotifyAuthorOnComment" value="false" />
      <setting name="BMC.Feature.Comments.NotifyOnReply" value="false" />
      <setting name="BMC.Feature.Comments.AdminEmail" value="admin@bmc.sa" />
      <setting name="BMC.Feature.Comments.CommentsPerPage" value="20" />
      <setting name="BMC.Feature.Comments.EnableSpamFiltering" value="false" />
    </settings>

    <log4net>
      <logger name="BMC.Feature.Comments" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>