<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <caches>
      <cache name="BMC.Blog.Cache" maxSize="10MB" />
      <cache name="BMC.Navigation.Cache" maxSize="5MB" />
    </caches>

    <settings>
      <!-- Caching Settings -->
      <setting name="BMC.Foundation.Caching.BlogCacheName" value="BMC.Blog.Cache" />
      <setting name="BMC.Foundation.Caching.NavigationCacheName" value="BMC.Navigation.Cache" />
      <setting name="BMC.Foundation.Caching.BlogCacheSize" value="10MB" />
      <setting name="BMC.Foundation.Caching.NavigationCacheSize" value="5MB" />
      <setting name="BMC.Foundation.Caching.DefaultExpiration" value="01:00:00" />
      <setting name="BMC.Foundation.Caching.EnableCaching" value="true" />
    </settings>

    <log4net>
      <logger name="BMC.Foundation.Caching" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>