<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <!-- BMC Blog Search Index -->
          <index id="bmc_blog_search_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            
            <configuration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
                <fields hint="raw:AddComputedIndexField">
                  <!-- Blog Post Computed Fields -->
                  <field fieldName="blogposttitle" returnType="string">BMC.Feature.Search.ComputedFields.BlogPostTitleField, BMC.Feature.Search</field>
                  <field fieldName="blogpostcontent" returnType="string">BMC.Feature.Search.ComputedFields.BlogPostContentField, BMC.Feature.Search</field>
                  <field fieldName="blogpostcategory" returnType="string">BMC.Feature.Search.ComputedFields.BlogPostCategoryField, BMC.Feature.Search</field>
                  <field fieldName="blogpostauthor" returnType="string">BMC.Feature.Search.ComputedFields.BlogPostAuthorField, BMC.Feature.Search</field>
                </fields>
              </documentOptions>
              
              <fieldMap ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldMap">
                <fieldNames hint="raw:AddFieldByFieldName">
                  <field fieldName="blogposttitle" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="2f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
                  <field fieldName="blogpostcontent" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
                  <field fieldName="blogpostcategory" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1.5f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
                  <field fieldName="blogpostauthor" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
                </fieldNames>
              </fieldMap>
            </configuration>
            
            <strategies hint="list:AddStrategy">
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/content/BMC/SA/Blog</Root>
              </crawler>
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/content/BMC/SA/Blog</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>

    <settings>
      <!-- Search Feature Settings -->
      <setting name="BMC.Feature.Search.IndexName" value="bmc_blog_search_index" />
      <setting name="BMC.Feature.Search.ResultsPerPage" value="10" />
      <setting name="BMC.Feature.Search.MinSearchLength" value="3" />
      <setting name="BMC.Feature.Search.MaxResults" value="100" />
      <setting name="BMC.Feature.Search.EnableAutocomplete" value="true" />
      <setting name="BMC.Feature.Search.AutocompleteMaxResults" value="5" />
    </settings>

    <services>
      <configurator type="BMC.Feature.Search.DependencyInjection.ServicesConfigurator, BMC.Feature.Search" />
    </services>

    <log4net>
      <logger name="BMC.Feature.Search" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>