<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Search Feature Settings -->
      <setting name="BMC.Feature.Search.IndexName" value="sitecore_master_index" />
      <setting name="BMC.Feature.Search.ResultsPerPage" value="10" />
      <setting name="BMC.Feature.Search.MinSearchLength" value="3" />
      <setting name="BMC.Feature.Search.MaxResults" value="100" />
      <setting name="BMC.Feature.Search.EnableAutocomplete" value="true" />
      <setting name="BMC.Feature.Search.AutocompleteMaxResults" value="5" />
    </settings>

    <log4net>
      <logger name="BMC.Feature.Search" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>