<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- Custom Rendering Datasource Resolution -->
      <mvc.getRenderer>
        <processor type="BMC.Foundation.SitecoreExtensions.Pipelines.CustomResolveRenderingDatasource, BMC.Foundation.SitecoreExtensions"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']" />
      </mvc.getRenderer>
    </pipelines>

    <settings>
      <!-- Custom settings for SitecoreExtensions -->
      <setting name="BMC.Foundation.SitecoreExtensions.EnableCustomDatasourceResolution" value="true" />
    </settings>

    <log4net>
      <logger name="BMC.Foundation.SitecoreExtensions" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>