<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <!-- Blog Subdomain Site Definition -->
      <site name="blog" 
            patch:before="site[@name='website']"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/BMC/SA/Blog"
            startItem="/Home"
            database="web"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB"
            hostName="blog.sa.bmc.local"
            targetHostName="blog.sa.bmc.local"
            scheme="http"
            content="master"
            enableItemLanguageFallback="true"
            enableFieldLanguageFallback="true"
            language="en"
            browserTitle="BMC Blog"
            loginPage="/login"
            htmlEncoder="Sitecore.Pipelines.RenderField.HtmlEncode, Sitecore.Kernel"
            renderingDataProvider="sitecore"
            itemNotFoundUrl="/404"
            layoutNotFoundUrl="/404"
            errorPage="/500" />

      <!-- Main Website Site Definition with Multisite Support -->
      <site name="website">
        <patch:attribute name="rootPath">/sitecore/content/BMC/SA</patch:attribute>
        <patch:attribute name="startItem">/Home</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
        <patch:attribute name="hostName">sa.bmc.local</patch:attribute>
        <patch:attribute name="targetHostName">sa.bmc.local</patch:attribute>
      </site>
    </sites>

    <settings>
      <!-- Multisite Settings -->
      <setting name="BMC.Foundation.Multisite.EnableLanguageFallback" value="true" />
      <setting name="BMC.Foundation.Multisite.DefaultLanguage" value="en" />
      <setting name="BMC.Foundation.Multisite.SupportedLanguages" value="en|ar" />
      <setting name="BMC.Foundation.Multisite.EnableCookieLanguagePersistence" value="true" />
      <setting name="BMC.Foundation.Multisite.BlogHostname" value="blog.sa.bmc.local" />
      <setting name="BMC.Foundation.Multisite.MainHostname" value="sa.bmc.local" />
    </settings>

    <linkManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore">
          <patch:attribute name="languageEmbedding">always</patch:attribute>
          <patch:attribute name="languageLocation">filePath</patch:attribute>
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
          <patch:attribute name="shortenUrls">true</patch:attribute>
          <patch:attribute name="useDisplayName">false</patch:attribute>
        </add>
      </providers>
    </linkManager>

    <pipelines>
      <!-- Language Resolver Pipeline -->
      <httpRequestBegin>
        <processor type="BMC.Foundation.Multisite.Pipelines.LanguageResolver, BMC.Foundation.Multisite"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.LanguageResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
    </pipelines>

    <languageDefinitions>
      <languages>
        <!-- Ensure English and Arabic are registered -->
        <language name="en" codepage="65001" encoding="utf-8" charset="UTF-8" iso="en" />
        <language name="ar" codepage="65001" encoding="utf-8" charset="UTF-8" iso="ar" />
      </languages>
    </languageDefinitions>

    <log4net>
      <logger name="BMC.Foundation.Multisite" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>