<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Newsletter Feature Settings -->
      <setting name="BMC.Feature.Newsletter.SubscriberStoragePath" value="/sitecore/content/BMC/SA/Blog/Data/Subscribers" />
      <setting name="BMC.Feature.Newsletter.EnableDoubleOptIn" value="true" />
      <setting name="BMC.Feature.Newsletter.ConfirmationEmailTemplate" value="/sitecore/content/BMC/SA/Blog/Email Templates/Newsletter Confirmation" />
      <setting name="BMC.Feature.Newsletter.WelcomeEmailTemplate" value="/sitecore/content/BMC/SA/Blog/Email Templates/Newsletter Welcome" />
      <setting name="BMC.Feature.Newsletter.UnsubscribeEmailTemplate" value="/sitecore/content/BMC/SA/Blog/Email Templates/Newsletter Unsubscribe" />
      <setting name="BMC.Feature.Newsletter.FromEmail" value="noreply@bmc.sa" />
      <setting name="BMC.Feature.Newsletter.FromName" value="BMC Blog" />
      <setting name="BMC.Feature.Newsletter.EnableNotifications" value="true" />
      <setting name="BMC.Feature.Newsletter.AdminEmail" value="admin@bmc.sa" />
      <setting name="BMC.Feature.Newsletter.MaxSubscribersPerBatch" value="100" />
    </settings>

    <pipelines>
      <mvc.actionExecuted>
        <processor type="BMC.Feature.Newsletter.Pipelines.ProcessNewsletterSubscription, BMC.Feature.Newsletter" />
      </mvc.actionExecuted>
    </pipelines>

    <events>
      <event name="newsletter:subscribed">
        <handler type="BMC.Feature.Newsletter.Events.SubscriberCreatedHandler, BMC.Feature.Newsletter" method="OnSubscribed" />
      </event>
      <event name="newsletter:unsubscribed">
        <handler type="BMC.Feature.Newsletter.Events.SubscriberRemovedHandler, BMC.Feature.Newsletter" method="OnUnsubscribed" />
      </event>
    </events>

    <services>
      <configurator type="BMC.Feature.Newsletter.DependencyInjection.ServicesConfigurator, BMC.Feature.Newsletter" />
    </services>

    <log4net>
      <logger name="BMC.Feature.Newsletter" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>