<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Identity Feature Settings -->
      <setting name="BMC.Feature.Identity.MembershipDomain" value="extranet" />
      <setting name="BMC.Feature.Identity.MinPasswordLength" value="6" />
      <setting name="BMC.Feature.Identity.RequireDigit" value="false" />
      <setting name="BMC.Feature.Identity.RequireUppercase" value="false" />
      <setting name="BMC.Feature.Identity.RequireSpecialCharacter" value="false" />
      <setting name="BMC.Feature.Identity.MaxPasswordAge" value="90" />
      <setting name="BMC.Feature.Identity.PasswordHistoryCount" value="3" />
      <setting name="BMC.Feature.Identity.MaxFailedLoginAttempts" value="5" />
      <setting name="BMC.Feature.Identity.LockoutDuration" value="30" />
      <setting name="BMC.Feature.Identity.EnableEmailVerification" value="true" />
      <setting name="BMC.Feature.Identity.TokenExpirationMinutes" value="60" />
    </settings>

    <pipelines>
      <httpRequestBegin>
        <processor type="BMC.Feature.Identity.Pipelines.EnsureAuthentication, BMC.Feature.Identity"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" />
      </httpRequestBegin>

      <mvc.actionExecuting>
        <processor type="BMC.Feature.Identity.Pipelines.ValidateUserSession, BMC.Feature.Identity" />
      </mvc.actionExecuting>
    </pipelines>

    <events>
      <event name="user:created">
        <handler type="BMC.Feature.Identity.Events.UserCreatedHandler, BMC.Feature.Identity" method="OnUserCreated" />
      </event>
      <event name="user:loggedin">
        <handler type="BMC.Feature.Identity.Events.UserLoginHandler, BMC.Feature.Identity" method="OnUserLoggedIn" />
      </event>
      <event name="user:loggedout">
        <handler type="BMC.Feature.Identity.Events.UserLogoutHandler, BMC.Feature.Identity" method="OnUserLoggedOut" />
      </event>
    </events>

    <services>
      <configurator type="BMC.Feature.Identity.DependencyInjection.ServicesConfigurator, BMC.Feature.Identity" />
    </services>

    <log4net>
      <logger name="BMC.Feature.Identity" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>