<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- Blog Feature Settings -->
      <setting name="BMC.Feature.Blog.DefaultViewCount" value="0" />
      <setting name="BMC.Feature.Blog.PostsPerPage" value="10" />
      <setting name="BMC.Feature.Blog.EnableCaching" value="false" />
      <setting name="BMC.Feature.Blog.CacheExpiration" value="01:00:00" />
      <setting name="BMC.Feature.Blog.MaxRelatedPosts" value="3" />
      <setting name="BMC.Feature.Blog.EnableViewCountTracking" value="false" />
    </settings>

    <log4net>
      <logger name="BMC.Feature.Blog" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>