<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <!-- BMC Blog Site Definition -->
      <site name="blog" 
            patch:before="site[@name='website']"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/BMC/SA/Blog"
            startItem="/Home"
            database="web"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB"
            hostName="blog.sa.bmc.local"
            targetHostName="blog.sa.bmc.local"
            scheme="https"
            content="master"
            enableItemLanguageFallback="true"
            enableFieldLanguageFallback="true"
            language="en"
            browserTitle="BMC Blog - Saudi Arabia"
            loginPage="/account/login"
            htmlEncoder="Sitecore.Pipelines.RenderField.HtmlEncode, Sitecore.Kernel"
            renderingDataProvider="sitecore"
            itemNotFoundUrl="/404"
            layoutNotFoundUrl="/404"
            errorPage="/500" />
    </sites>

    <settings>
      <!-- Project Settings -->
      <setting name="BMC.Project.BlogSite.SiteName" value="BMC Blog" />
      <setting name="BMC.Project.BlogSite.DefaultLanguage" value="en" />
      <setting name="BMC.Project.BlogSite.SupportedLanguages" value="en|ar" />
      <setting name="BMC.Project.BlogSite.EnableComments" value="true" />
      <setting name="BMC.Project.BlogSite.CommentsModeration" value="true" />
      <setting name="BMC.Project.BlogSite.PostsPerPage" value="10" />
    </settings>

    <log4net>
      <logger name="BMC.Project.BlogSite" additivity="false">
        <level value="INFO" />
        <appender-ref ref="LogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>
