<?xml version="1.0" encoding="utf-8"?>
<!--
  Purpose: Completely disable Sitecore Identity Server
  This is a comprehensive disable configuration that removes all Identity Server components
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore role:require="Standalone or ContentManagement">
    
    <!-- Disable Federated Authentication -->
    <settings>
      <setting name="FederatedAuthentication.Enabled" set:value="false" />
      <setting name="Owin.Authentication.EnableFederatedAuthenticationForShell" set:value="false" />
    </settings>

    <!-- Configure shell site to use traditional login -->
    <sites>
      <site name="shell">
        <patch:attribute name="loginPage">/sitecore/login</patch:attribute>
      </site>
      <site name="admin">
        <patch:attribute name="loginPage">/sitecore/admin/login.aspx</patch:attribute>
      </site>
    </sites>

    <!-- Remove all Identity Server OWIN pipeline processors -->
    <pipelines>
      <owin.identityProviders>
        <processor type="Sitecore.Owin.Authentication.IdentityServer.Pipelines.IdentityProviders.IdentityServerProvider, Sitecore.Owin.Authentication.IdentityServer">
          <patch:delete />
        </processor>
      </owin.identityProviders>
      
      <owin.cookieAuthentication.validateIdentity>
        <processor type="Sitecore.Owin.Authentication.IdentityServer.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication.IdentityServer">
          <patch:delete />
        </processor>
      </owin.cookieAuthentication.validateIdentity>
    </pipelines>

  </sitecore>
</configuration>
