<?xml version="1.0" encoding="utf-8"?>
<!--
  Purpose: FORCE disable Sitecore Identity Server completely
  This config has priority (z prefix) and removes all Identity Server references
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role()">
  <sitecore role:require="Standalone or ContentManagement">
    
    <!-- CRITICAL: Disable Federated Authentication entirely -->
    <settings>
      <setting name="FederatedAuthentication.Enabled" value="false" />
    </settings>

    <!-- Remove ALL Identity Server configurations -->
    <federatedAuthentication type="Sitecore.Owin.Authentication.Configuration.FederatedAuthenticationConfiguration, Sitecore.Owin.Authentication">
      <identityProvidersPerSites hint="list:AddIdentityProvidersPerSites">
        <mapEntry name="all sites" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication">
          <identityProviders hint="list:AddIdentityProvider">
            <!-- Remove Identity Server from all sites -->
            <identityProvider ref="federatedAuthentication/identityProviders/identityProvider[@id='SitecoreIdentityServer']">
              <patch:delete />
            </identityProvider>
          </identityProviders>
        </mapEntry>
      </identityProvidersPerSites>
      
      <identityProviders hint="list:AddIdentityProvider">
        <!-- Delete the Identity Server provider definition -->
        <identityProvider id="SitecoreIdentityServer">
          <patch:delete />
        </identityProvider>
      </identityProviders>

      <propertyInitializer type="Sitecore.Owin.Authentication.IdentityServer.PropertyInitializer, Sitecore.Owin.Authentication.IdentityServer">
        <patch:delete />
      </propertyInitializer>

      <sharedTransformations hint="list:AddTransformation">
        <transformation name="idp claim" type="Sitecore.Owin.Authentication.IdentityServer.Transformations.IdpClaimTransformation, Sitecore.Owin.Authentication.IdentityServer">
          <patch:delete />
        </transformation>
      </sharedTransformations>
    </federatedAuthentication>

    <!-- Remove Identity Server from OWIN pipeline -->
    <pipelines>
      <owin.identityProviders>
        <processor type="Sitecore.Owin.Authentication.IdentityServer.Pipelines.IdentityProviders.IdentityServerProvider, Sitecore.Owin.Authentication.IdentityServer"
                   resolve="true">
          <patch:delete />
        </processor>
      </owin.identityProviders>
      
      <owin.cookieAuthentication.validateIdentity>
        <processor type="Sitecore.Owin.Authentication.IdentityServer.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication.IdentityServer"
                   resolve="true">
          <patch:delete />
        </processor>
      </owin.cookieAuthentication.validateIdentity>
    </pipelines>

  </sitecore>
</configuration>
