<?xml version="1.0" encoding="utf-8"?>
<!--
  Purpose: Disable OWIN Identity Server components
  This prevents OWIN pipeline from attempting to load Identity Server processors
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    
    <!-- Remove Identity Server OWIN processors -->
    <pipelines>
      <owin.identityProviders>
        <processor type="Sitecore.Owin.Authentication.IdentityServer.Pipelines.IdentityProviders.IdentityServerProvider, Sitecore.Owin.Authentication.IdentityServer">
          <patch:delete />
        </processor>
      </owin.identityProviders>
      
      <owin.cookieAuthentication.validateIdentity>
        <processor type="Sitecore.Owin.Authentication.IdentityServer.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication.IdentityServer">
          <patch:delete />
        </processor>
      </owin.cookieAuthentication.validateIdentity>
    </pipelines>

  </sitecore>
</configuration>
